/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: left;
}
.nav-head{
  padding:1rem;
  
  background-color: #000000;
  
  overflow: hidden;

}

ul{
  list-style: none;
}
ul li{
  float: left;
  
  
  text-align: center;
  padding: 15px;
}
ul li a{
  text-decoration: none;
  color: #ffffff;
}
.nav-body ul li:hover{
  color: #000000;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
 
}
.nav-body{
  font-size: 20px;
  margin-top: -18px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ri{
  float: right;
}

.box{
  padding: 35px;
  width: 17%;
}

.card{
  margin-left: 500px;
  margin-top: 0px;
}

.grid{
  margin-top: 50px;
} */

.App{
  text-align: center;
}